#container {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background-image: url("https://as2.ftcdn.net/jpg/00/95/08/33/1000_F_95083399_043Cbg011WPBx8noQkNJR440JSdPmb3d.jpg");
    background-size: 100%;
  }
  #hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
  }
  #hour{
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;  
  }
  #minute{
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;  
  }
  #second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8; 
  }
  